<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logo2-1.png", size: "62x50", class: "d-inline-block align-top", alt: "") %></a>
    
    <div class="collapse navbar-collapse" id="navbarColor03">
        <!-- Search -->
        <form class="form-inline">
            <input class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!-- Profile/Account, Orders, Wishlist, Notifications, Logout -->
            <% if customer_signed_in? %>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= current_customer.first_name %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <%= link_to('My Account',  new_customer_address_url, class: "dropdown-item") %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Notifications</a>
                        <div class="dropdown-divider"></div>
                        <%= link_to('Logout', destroy_customer_session_path, method: :delete, class: "dropdown-item") %>
                    </div>
                </div>
            <% else %>
                <div class="nav-item ">
                    <%= link_to('Login & Signup', new_customer_session_path, style: "vertical-align: -webkit-baseline-middle;") %>
                </div>
            <% end %>
            <!-- Sell On Weebuy, 24x7 Customer Care --> 
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <%= link_to('Sell On Weebuy', new_seller_session_path, class: "dropdown-item") %>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">24x7 Customer Care</a>
                </div>
            </div>

            <div class="cart">
                <%= link_to('Cart',show_cart_quotes_url , style: "vertical-align: -webkit-baseline-middle;") %>
            </div>
        </ul>
        
    </div>
</nav>

<%= render 'navbar/categories' %>