<%= stylesheet_link_tag 'customers_nav', media: 'print, screen' %>


<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-trasparent" style="background-image: linear-gradient(120deg, #50A6DD, #3173B9);">
    <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logo2-1.png", size: "62x50", class: "logo", alt: "") %></a>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <!-- Search -->

        <div class="link"></div>
 
        <div class="form">
            <input class="form-control ml-sm-2" type="search" placeholder="Search for apparel,shops..." aria-label="Search">
            <button type="submit" class="search"><%= image_tag("search.png", size: "35x30", class: "icon") %></button>
        </div>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!-- Profile/Account, Orders, Wishlist, Notifications, Logout -->
            <% if customer_signed_in? %>
                <div class="drop">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <%= link_to('My Account', edit_customer_registration_path, class: "dropdown-item") %>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Notifications</a>
                            <div class="dropdown-divider"></div>
                              <%= link_to('Logout', destroy_customer_session_path, method: :delete, class: "dropdown-item") %>
                            <div class="dropdown-divider"></div>
                            <%= link_to('My Order', order_history_orders_path, class: "dropdown-item") %>
                        </div>
                    </div>
                </div>
            <% else %>
                <div class="nav-item ">
                    <%= link_to('Login & Signup', new_customer_session_path, class: "log") %>
                </div>
            <% end %>
            <!-- Sell On Weebuy, 24x7 Customer Care --> 
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <%= link_to('Sell On Weebuy', new_seller_session_path, class: "dropdown-item") %>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">24x7 Customer Care</a>
                </div>
            </div>

            <div class="cart">
                <%= link_to show_cart_quotes_url, class: :cart do %>
                    <i class="material-icons">shopping_cart</i> 
                <% end %>
            </div>
        </ul>
        
    </div>
</nav>

<%= render 'navbar/categories' %>