<%= stylesheet_link_tag 'backend', media: 'print, screen' %>

<section class="app">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <div class="company-logo">
          <%= link_to products_path do %>
            <span class="company-name"><i><%= image_tag("logo2-1.png", size: "40x32", class: "logo1", alt: "") %></i> WeeBuy </span>
          <% end %>
        </div>
        <li>
          <%= link_to products_path do %>
            <span><i class="material-icons">dashboard</i> Dashboard </span>
          <% end %>
        </li>
        <li>
          <a href="#"><i class="material-icons">widgets</i> <span class="">Inventory</span><i class="material-icons arrow">keyboard_arrow_right</i></a>
          <ul class="nav-flyout">
            <div>
              <span class="company-name-head">Inventory</span>
            </div>
            <li>
              <%= link_to products_path do %>
                <span><i class="material-icons">view_carousel</i> Products </span>
              <% end %>
            </li>
              <%= link_to inventory_stocks_path do %>
                <span><i class="material-icons">view_carousel</i> Product Stocks </span>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
</section>

<div class="fixed">
  <div class="top-menu">
    <div class="dropdown first">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span><i class="material-icons">person</i><%= current_seller.name&.split&.first %></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to('My Account', edit_seller_registration_path, class: "dropdown-item") %></li>
        <li><%= link_to('Settings', edit_seller_registration_path, class: "dropdown-item") %></li>
        <li><%= link_to('24x7 Customer Care', destroy_seller_session_path, method: :delete, class: "dropdown-item") %></li>
        <li><%= link_to('Logout', destroy_seller_session_path, method: :delete, class: "dropdown-item") %></li>
      </ul>
    </div>
  </div>
</div>

<script>
  $('.dropdown-toggle').dropdown()

  // SIDEBAR
  $(document).ready(function(){
    $('.button-collapse').sideNav({
        menuWidth: 300, 
        edge: 'left', 
        closeOnClick: false, 
        draggable: true 
      }
    );
    // START OPEN
    $('.button-collapse').sideNav('show');
  });
</script>