<%= stylesheet_link_tag 'backend', media: 'print, screen' %>
<style>

    #navbarDropdown1:hover{
        color: #222;
        text-decoration: none;
    }

    #navbarDropdown1{
        color: white;
    }
    
    .drop{
        position: absolute;
        right: 0.001px;
        margin-right: 18%; 
        top: 1.5px;
        margin-top: 1.12%;
    }

    #navbarDropdown2{
        color: white;
    }

    .drop1{
        position: absolute;
        right: 0.001px;
        margin-right: 12%;  
        top: 1.5px;
        margin-top: 1.2%;
    }
    
    #navbarDropdown2:hover{
        color: #222;
        text-decoration: none;
    }
    
    .navbar-dark{
        height: 4em;
    }
    
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-image: linear-gradient(120deg, #3173B9, #3173B9);">
<a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logo2-1.png", size: "62x50", class: "logo1", alt: "") %></a>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <!-- Profile/Account, Orders, Wishlist, Notifications, Logout --> 
        <div class="nav-item dropdown drop">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_seller.name&.split&.first %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <%= link_to('My Account', edit_seller_registration_path, class: "dropdown-item") %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Notifications</a>
                <div class="dropdown-divider"></div>
                <%= link_to('Logout', destroy_seller_session_path, method: :delete, class: "dropdown-item") %>
            </div>
        </div>
        <!-- Sell On Weebuy, 24x7 Customer Care --> 
        <div class="nav-item dropdown drop1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <%= link_to('Settings', "#", class: "dropdown-item") %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">24x7 Customer Care</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
<section class="app">
  <aside class="sidebar">
  
    <nav class="sidebar-nav">
      <ul>
        <li>
          <%= link_to('Dashboard', "#", class: "nav-link") %>
        </li>
        <li>
        <%= link_to('Inventory', class: "nav-link") %>
          <ul class="nav-flyout">
            <li>
            <%= link_to('Products', products_path , method: "get", class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Product Stocks', inventory_stocks_path ,method: "get", class: "nav-link") %>
            </li>
          </ul>
        </li>
        <li>
        <%= link_to('Sales Orders', "customers_path", class: "nav-link") %>
          <ul class="nav-flyout">
            <li>
            <%= link_to('Orders', "customers_path", class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Invoice', "customers_path", class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Shipments', "customers_path", class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Returns', "customers_path", class: "nav-link") %>
            </li>
          </ul>
        </li>
        <li>
        <%= link_to('Stores', "#", class: "nav-link") %>
          <ul class="nav-flyout">
            <li>
            <%= link_to('Stores1', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores2', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores3', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores4', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores5', stores_path, class: "nav-link") %>
            </li>
          </ul>
        </li>
        <li>
        <%= link_to('Product', stores_path, class: "nav-link") %>
          <ul class="nav-flyout">
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
          </ul>
        </li>
        <li>
        <%= link_to('Stores', stores_path, class: "nav-link") %>
          <ul class="nav-flyout">
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
             <li>
             <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to('Invoice', stores_path, class: "nav-link") %>
        </li>
      </ul>
    </nav>
  </aside>
</section>

<script>
  
</script>
