<p id="notice"><%= notice %></p>

<h1>Quote Items</h1>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Quote</th>
      <th>Product</th>
      <th>Store</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quote_items.each do |quote_item| %>
      <tr>
        <td><%= quote_item.sku %></td>
        <td><%= quote_item.name %></td>
        <td><%= quote_item.description %></td>
        <td><%= quote_item.quantity %></td>
        <td><%= quote_item.price %></td>
        <td><%= quote_item.quote %></td>
        <td><%= quote_item.product %></td>
        <td><%= quote_item.store %></td>
        <td><%= link_to 'Show', quote_item %></td>
        <td><%= link_to 'Edit', edit_quote_item_path(quote_item) %></td>
        <td><%= link_to 'Destroy', quote_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote Item', new_quote_item_path %>
