<style>
._3ycxrs{
border-top: 1px solid #f0f0f0;
padding: 23px;
position: relative;
background: #fff;
}
.PaJLWc{box-sizing: border-box;
margin: 0;
padding: 0;
}
._2dcihZ{
  position: absolute;
  top: 7px;
  text-align: center;
  border-radius: 7px;
  width: 18px;
  height: 18px;
  background-color: #ff6161;
  border: 1px solid #fff;
  font-weight: 400;
  color: #f0f0f0;
  line-height: 16px;
  font-size: 10px;
}
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 8px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
.place_order {
padding: 15px 30px;
min-width: 150px;
margin-right: 6px;
text-transform: uppercase;
border-radius: 2px;
box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
font-size: 13px;
font-weight: 500;
background: #fb641b;
border: none;
color: #fff;
}
._2CQPOE _1J8_NPPaJLWc{
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
  font-size: 16px;
  font-weight: 500;
  min-width: 250px;
  margin-right: 16px;
  padding: 14px 30px;

}
.continue_shoping{
  display: inline-block;
  border-radius: 2px;
  color: #212121;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  transition: box-shadow .2s ease;
  vertical-align: super;
  background: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  border: 1px solid #e0e0e0;
}
</style>
<h3>My Cart(<%=@quote_items_count %>)</h3>
<%= @subtotal %>



<% if @cart_items.size == 0 %>
   <p class="text-center">
     There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
<div class = "_3ycxrs">  
<div class = "PaJLWc"> 
   <% @product_details.each do|p| %>
       <%= image_tag url_for(p.images.first), size: "120" if p.images.attached? %>
       
       <div class="col-md-4" >Qty
      <select class="qty"  id="qty_<%=p.id%>"  >
        <option value="1"><strong>1</strong></option>
      </select>
    </div> 
       <%= link_to 'Remove Item', remove_item_from_cart_quote_path(:id => p.id),method: :delete,class: "btn btn-inverse" %>
   <%end%>
</div>
</div>
<div class = "_2CQPOE _1J8_NPPaJLWc"> 
    <%= button_to "Continue Shoping", 
        root_path, 
        :class => "continue_shoping",
        :method => :get %>

        <%= button_to "Place Order", 
        place_order_for_cart_items_quotes_path, 
        :class => "place_order",
        :method => :get %>
</div>         
<% @cart_items.each do|c| %>
  <%=c["name"] %>
  <%=c["price"] %>
  <%=c["desc"] %>
  <%=c["shop_name"] %>
<%end%>  
<%end%>
<script>
var selItem = [];
var data_hash = {};
$(document).ready(function(){
  
  if(<%=@quote_items_count%>!=0){
     $(".cart").append('<div class="_2dcihZ"><%=@quote_items_count %></div>');
  }
  var options =  '<option value="1"><strong>1</strong></option>';
  for(i=2;i<=10;i++){
     options += '<option value="'+i+'">'+i+'</option>';
  }
  $('.qty').html(options);
  setSelectedValue();
  });
  
  
    $('select').change(function() {
    
    var id = $(this).attr('id').split("_")[1];
    var qty = $("#qty_"+id).val();
    data_hash["id"] = id;
    data_hash["qty"] = qty;
   
    selItem.push(data_hash);
    console.log(selItem);
    sessionStorage.setItem("SelItem", JSON.stringify(data_hash));
   

    $.ajax({

      url: "show_cart?id="+id+"&qty="+qty,
      method: "GET",
      contentType: "application/json",
      success: function() {
        
      }
     });

  });
  
  function setSelectedValue(){
    
    
   
  }
        
        
</script>