<%= stylesheet_link_tag 'quotes', media: 'print, screen' %>

<div>
<div class = "_2ycxrs"> 
  <h5>Cart Details</h5> 
  <hr>
  <h7>Price for <%= @quote_items_count %> item :</h7>
  <%= @subtotal %>
</div>


<% if @cart_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <div class = "_3ycxrs"> 
    <h5>My Cart(<%=@quote_items_count %>)</h5> 
    <hr>
    <div class = "PaJLWc"> 
      <% @product_details.each do|p| %>
        <%= image_tag url_for(p.images.first), size: "120" if p.images.attached? %>
        <div class="col-md-4" >Qty
      <select class="qty" id ="qty_<%=p.id%>">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div> 
        <%= link_to 'Remove Item', remove_item_from_cart_quote_path(:id => p.id),method: :delete,class: "btn btn-inverse" %>
      <%end%>
    </div>
  </div>  
  <div class="description">   
    <% @cart_items.each do|c| %>
      <%=c["name"] %><br/>
      <%=c["shop_name"] %><br/>
      <%=c["price"] %>
    <%end%>  
  </div>
  <%= button_to "Continue Shoping",
      root_path,:method => :get
  %>
  <%= button_to "Place Order", place_order_for_cart_items_quotes_path,:method => :get
  %>
</div>
<%end%>

<script>

$(document).ready(function(){
  
 
  $.ajax({
          url: "items_in_cart_with_quantity",
          method: "GET",
          contentType: "application/json",
          success: function(msg) {
            msg.forEach(function(element, index) {
               $("#qty_"+element.quote_item_product_id).val(element.quantity).prop('selected', true);
              
            }); 
            
          }

      });
  
});
  
  
    $('select').change(function() {
    
    var id = $(this).attr('id').split("_")[1];
    var qty = $("#qty_"+id).val();
    $.ajax({

      url: "show_cart?id="+id+"&qty="+qty,
      method: "GET",
      contentType: "application/json",
      success: function() {
        location.reload();
        $.ajax({
          url: "quantity_of_cart_items?id="+id,
          method: "GET",
          contentType: "application/json",
          success: function(msg) {
            var sel = $("#qty_"+id)
            console.log(msg);
            
            $('sel option[value="'+msg+'"]').prop('selected', true);
          }

       });
      }
    });

  });
        
</script>