<style>

  .center{
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .hint{
    position: absolute;
    right: 0.001px;
    margin-right: 20%;
    color: #889096;
    font-size: 13px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    top: 1.5em;
    margin-top: 21.5%;
    line-height: 18px;
  }

  .hint1{
    position: absolute;
    right: 0.001px;
    margin-right: 28%;
    color: #889096;
    font-size: 13px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    top: 1.5em;
    margin-top: 20%;
    line-height: 18px;
  }

  .fld1{
    margin-top: 20px;
  }

  .btn-lg{
    margin-top: 20px;
  }

</style>

<center class="center">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, style: "width: 100%;max-width: 330px;padding: 15px;" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <h7 class="hint1">Minimum 6 characters</h7>
      <h7 class="hint">(leave blank if you don't want to change it)</h7>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control fld1" %>
      <% if @minimum_password_length %>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control fld1", placeholder: "New Password" %>
    </div>

    <div class="field"> 
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control fld1", placeholder: "Current Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
  
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn" %>

  <%= link_to "Back", :back %>

</center>
