<p id="notice"><%= notice %></p>

<%= @seller.id %>
<br/>
<%= @seller.email %>
<br/>
<%= @seller.name %>
<br/>
<%= @seller.role %>
<br/>
<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
