

<%= unless @store.blank? 
simple_form_for(@store) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :shop_name %>
    <%= f.select :status, Store.statuses.keys.to_a, prompt: "Select Status" %>
    <%= f.input :images, as: :file, input_html: {multiple: true}%>
    <%= f.input :website_url %>
    <%= f.input :company_email %>
    <%= f.text_area :shop_intro %>
    
    <%= f.input :gst_image, as: :file %>
    <%= f.input :shop_pan_image, as: :file %>
    <%= f.input :trade_liscense_image, as: :file %>
    <%= f.input :iso_image, as: :file %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :landmark %>
    <%= f.input :shop_phone_no %>
    <%= f.input :alternative_phone_no1 %>
    <%= f.input :alternative_phone_no2 %>
    <%= f.input :certificate_image, as: :file  %>
    <%= f.input :address_proff_image ,as: :file %>
    <%= f.input :trade_mark_image ,as: :file %>
    <%= f.association :seller %>
   
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end end%>
