<p id="notice"><%= notice %></p>

 
<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Total Paid</th>
      <th>Email Sent</th>
      <th>Total Invoice</th>
      <th>Total Cancel</th>
      <th>Total Refunded</th>
      <th>Discount Amount</th>
      <th>Discount Canceled</th>
      <th>Discount Invoice</th>
      <th>Discount Refunded </th>
      <th>Shipping Amount</th>
      <th>Shipping Cancelled</th>
      <th>Shipping Invoice</th>
      <th>Shipping Refunded</th>
      
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.each do |order| %>
      <tr>
       
       
        <td><%= order.total Paid %></td>
        <td><%= order.email Sent %></td>
        <td><%= order.total Invoice %></td>
        <td><%= order.total Cancel %></td>
        <td><%= order.total Refunded %></td>
        <td><%= order.discount Amount %></td>
        <td><%= order.discount Canceled %></td>
        <td><%= order.discount Invoice %></td>
        <td><%= order.discount Refunded %></td>
        <td><%= order.shipping Amount %></td>
        <td><%= order.shipping Cancelled %></td>
        <td><%= order.shipping Invoice %></td>
        <td><%= order.shipping Refunded %></td>
      </tr>
    <% end %>
  </tbody>
</table>

