<p id="notice"><%= notice %></p>
 


<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Item_Count</th>
      <th>Customer_Email</th>
      <th>Customer_Firstname</th>
      <th>Customer_Lastname</th>
      <th>Coupon_Code</th>
      <th>Subtotal</th>
      <th>Subtotal_With_Discount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quote.each do |quote| %>
		<tr>
			<td><%= quote.status %></td>
      <td><%= quote.item count %></td>
      <td><%= quote.customer email %></td>
      <td><%= quote.customer firstname %></td>
      <td><%= quote.customer lastname %></td>
      <td><%= quote.coupon code %></td>
      <td><%= quote.subtotal %></td>
      <td><%= quote.subtotal with discount %></td>
			
		    
		 </tr>
    <% end %>
    <%= link_to "Admin Login", new_admin_session_path %>
  </tbody>
</table>