<style>
  .fog-cus{
      margin-top: 5%;
  }

  .btn-md{
      margin-top: 20px;
  }
</style>

<center class="fog-cus">
  <h4>Forgot your password?</h4>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, style: "width: 100%;max-width: 330px;padding: 15px;" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Registered Email ID" %>
    </div>

    <div class="actions">
      <%= f.submit "Request", class: "btn btn-md btn-primary btn-block" %>
    </div>
  <% end %>
  <%= link_to "Back to Login page", new_session_path(resource_name) %>
  
</center>