<%= form_with(model: customer_address, local: true) do |form| %>
  <% if customer_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_address.errors.count, "error") %> prohibited this customer_address from being saved:</h2>

      <ul>
      <% customer_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <centre>
  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :postalcode %>
    <%= form.text_field :postalcode %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>


  <div class="field">
    <%= form.label :country_code %>
    <%= form.text_field :country_code %>
  </div>

  <div class="field">
    <%= form.label :phone1 %>
    <%= form.text_field :phone1 %>
  </div>

  <div class="field">
    <%= form.label :phone2 %>
    <%= form.text_field :phone2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</centre>
<%= link_to 'skip', products_path %>
<% end %>
