<p id="notice"><%= notice %></p>

<h1>Quote Payments</h1>

<table>
  <thead>
    <tr>
      <th>Method</th>
      <th>Quote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quote_payments.each do |quote_payment| %>
      <tr>
        <td><%= quote_payment.method %></td>
        <td><%= quote_payment.quote %></td>
        <td><%= link_to 'Show', quote_payment %></td>
        <td><%= link_to 'Edit', edit_quote_payment_path(quote_payment) %></td>
        <td><%= link_to 'Destroy', quote_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote Payment', new_quote_payment_path %>
