<%= stylesheet_link_tag 'orders', media: 'print, screen' %>

 <div class = "check_div_1">
  <h5 class ="price_details">Price Details <span class ="price_details_1"> <%= @product_price %> </span></h5>
</div>


<div class = "check_div">
  <h5>Delivery Details<span>&#10003;</span> <span class="show_details">&#43;</span></h5>
</div>
<div class="delivery_details" style="display: none;"><%=@customer_login_details%></div>


<div class = "order_details">
  <h5>Order Details <span class="show_details_2">&#187;</span></h5>
</div>
<div class="product_details" style="display: none;">
  <%= image_tag url_for(@product_detail.images.first), size: "120" if @product_detail.images.attached? %>
 <%= @product_detail.name %>
 
  <div>Qty
    <select class="qty" onchange = "changeQuantity()">
      <option value="1"><strong>1</strong></option>
    </select>
  </div>
  <div class = "" >
    <div class = "price_div1"> Delivery Charges <span class ="delivery_span">Free</span></div>
    <div class = "price_div2"> Amount Payable <span class ="amount_span"><%= @product_price %></span></div>
  </div> 
  <div class = "payment" >
  <h5>Payment Option</h5>
</div>
<div class = "payment_options">
<input type="checkbox" id="payment_option"  value="1">Cash on Delivery
</div>
<div class="place_order">
<span style="">Order confirmation email will be sent to <%=@customer_login_details%></span><button type="button" value="Submit" class="btn btn-success" onclick="placeOrder()">Place Order</button>
</div>
  <div>
</div>



<script>
$(document).ready(function(){
  
  var options =  '<option value="1"><strong>1</strong></option>';
  for(i=2;i<=10;i++){
     options += '<option value="'+i+'">'+i+'</option>';
  }
  $('.qty').html(options);
  });
  function changeQuantity(){
     qty = $('.qty').val();
    $.ajax({

      url: "order_price?id="+<%=@product_detail.id%>+"&qty="+qty,
      method: "GET",
      contentType: "application/json",
      success: function(msg) {
        $('.price_details_1').html(msg);
        $('.amount_span').html(msg);
        price = msg;
       }
     });
  }
  function placeOrder(){
     var price = $('.price_details_1').text();
     var quantity = $('.qty').val();
    if($("#payment_option").is(':checked')){
      $.ajax({

      url: "place_order?id="+<%=@product_detail.id%>+"&qty="+quantity+"&price="+price,
      method: "POST",
      contentType: "application/json",
      success: function(msg) { 
        
       }
     });
    }else{
      alert("please select a payment option for proceed");
    }
  }

  $( ".show_details" ).click(function() {
    $( ".delivery_details" ).toggle( "slow" );
  });

  $( ".show_details_2" ).click(function() {
    $( ".product_details" ).toggle( "slow" );
  });

   $( ".show_details_1" ).click(function() {
    $( ".check_div_11" ).toggle( "slow" );
  });
</script>