<style>

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }

  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }

  input::-webkit-input-placeholder { color: #adadad;}
  input:-moz-placeholder { color: #adadad;}
  input::-moz-placeholder { color: #adadad;}
  input:-ms-input-placeholder { color: #adadad;}

  textarea::-webkit-input-placeholder { color: #adadad;}
  textarea:-moz-placeholder { color: #adadad;}
  textarea::-moz-placeholder { color: #adadad;}
  textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.limiter {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20%;
}
    
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;  
}

.wrap-login100 {
  width: 390px;
  background: #fff;
}
   
/*------------------------------------------------------------------
[ Form ]*/
  
.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.login100-form-avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.input100 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #3173B9;
}

.focus-input100::after {
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #3173B9;
  border-radius: 25px;

  box-shadow: 0 10px 30px 0px rgb(110, 110, 110);
  -moz-box-shadow: 0 10px 30px 0px rgb(110, 110, 110);
  -webkit-box-shadow: 0 10px 30px 0px rgb(110, 110, 110);
  -o-box-shadow: 0 10px 30px 0px rgb(110, 110, 110);
  -ms-box-shadow: 0 10px 30px 0px rgb(110, 110, 110);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover  {
  background-color: #0084ff;
  box-shadow: 0 10px 30px 0px rgba(173, 173, 173, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(173, 173, 173, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(173, 173, 173, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(173, 173, 173, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(173, 173, 173, 0.5);
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
  
.actions{
  background: none;
  border: none;
  color: #fff;
  text-align: center;
}
  
h1 {
  font-weight: bold;
  margin-top: 15%;
  text-align: center;
}

h2{
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
} 

.header{
  margin-bottom: 8%;
  margin-top: 5%;
}

label{
  margin-top: 20px;
}

.fog{
  float: right;
  font-size: 15px;
  padding-bottom: 5px;
}

.btn-primary{
  background: none;
  border: none;
  color: #3173B9;
  float: right;
  padding-top: 5px;
    
}

.btn-primary:hover{
  background: none;
  border: none;
  color: black;
  float: right;
  padding-top: 5px;
}

.btn-primary:focus {
    outline: none;
}

.btn-default{
    background: none;
    color: #3173B9;
    text-transform: capitalize;
}

.modal-header{
  background-color: #50A6DD;
}

.modal-title{
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.close{
  color: white;
}

.modal-body{
  margin-top: 20px;
}

.send{
  background-color: #3173B9;
  text-decoration: none;
  border: none;
  color: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.actions_2{
  margin-top: 25px;
}

</style>


  
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <span class="login100-form-title p-b-70">Welcome</span>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="wrap-input100 validate-input m-t-85 m-b-35"> 
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email  Address", class: "focus-input100", class: "input100" %>
          </div>	
        </div>

        <div class="wrap-input100 validate-input m-b-50">           
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "focus-input100", class: "input100" %>
            <a href = "/page_to_fetch_remote_content/" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" >Forgot Password?</a>
          </div>	
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            <div class="actions">
              <%= f.submit "Log in", class: "actions" %>
            </div>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

    
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Forgot your password?</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Registered Email Address", class: "form-control" %>
        </div>
      
        <div class="actions_2">
          <%= f.submit "Send", class: "send" %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= link_to "Log in", new_session_path(resource_name) %><br />
    </div>
  </div>
</div>
</div>

