<%= stylesheet_link_tag 'backend', media: 'print, screen' %>



<div class="pro_sell">
<h4>Products</h4>

<table class="table table-fixed table-striped table-bordered table-scroll">
  <thead>
    <tr class="fixedHeader">
      <th style="padding-right:4.6em;"></th>
      <th style="padding-right:9em;">Name</th>
      <th style="padding-right:10em;">Sku</th>
      <th style="padding-right:0.7em;">Status</th>
      <th style="padding-right:7.5em;">Short desc</th>
      <th style="padding-right:6.4em;">Long desc</th>
      <th style="padding-right:3em;">Price</th>
      <th style="padding-right:3em;">Store</th>
    </tr>
  </thead>

  <tbody class="scrollContent">
    <% unless @products.blank?
    @products.each do |product| %>
      <tr>
        <td><%= image_tag url_for(product.images.first), class: "img2", size: "42" if product.images.attached? %></td> 
        <td class="long"><%= product.name %></td>
        <td class="long1"><%= product.sku %></td>
        <td><%= product.status %></td>
        <td class="long1"><%= product.short_desc %></td>
        <td class="long"><%= product.long_desc %></td>
        <td><%= product.price %></td>
        <td><%= product.color %></td>
        <td><%= product.store.shop_name %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if @inventory_stock_count == 0 %>
          <td><%= link_to 'Add Inventory', new_inventory_stock_path(id: product.id), :method => :get %></td>
        <%else%>
          <td><%= link_to 'Update Inventory', edit_inventory_stock_path(@inventory_stock) %></td>
        <%end%> 
      </tr>
    <% end
    end %>
  </tbody>
</table>

<br>

<%= link_to '+', new_product_path %>
</div>
</div>

