<h1>Products</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sku</th>
      <th>Status</th>
      <th>Short desc</th>
      <th>Long desc</th>
      <th>Price</th>
      <th>Color</th>
      <th>Store</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% unless @products.blank?
    @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.sku %></td>
        <td><%= product.status %></td>
        <td><%= product.short_desc %></td>
        <td><%= product.long_desc %></td>
        <td><%= product.price %></td>
        <td><%= product.color %></td>
        <td><%= product.store.shop_name %></td>
        <td><%= image_tag url_for(product.images.first), size: "64" if product.images.attached? %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if seller_signed_in? %>
          <% unless @inventory_stock_count.blank?
          @inventory_stock_count.each do |i| %>
        <% if i["pid"] == product.id && i["count"] == 0  %>
          <td><%= link_to 'Add Inventory', new_inventory_stock_path(id: product.id), :method => :get %></td>
        <%elsif i["pid"] == product.id && i["count"] != 0%>
           <% unless @inventory_stock.blank?
             @inventory_stock.each do |i| %>
               <% if i["product_id"] == product.id %>
                 <td><%= link_to 'Update Inventory', edit_inventory_stock_path(i["id"]), :method => :get %></td>
               <%end%> 
           <% end
            end %>   
        <%end%>
        <%end%>
        <% end
      end %>
      </tr>
    <% end
    end %>

  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
