<%= stylesheet_link_tag 'backend', media: 'print, screen' %>
<div class="container">
<section class="app">
  <aside class="sidebar">
  
    <nav class="sidebar-nav">
      <ul>
        <li>
          <%= link_to('Dashboard', "#", class: "nav-link") %>
        </li>
        <li>
        <%= link_to('Inventory', class: "nav-link") %>
          <ul class="nav-flyout">
            <li>
            <%= link_to('Products', products_path , method: "get", class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Product Stocks', inventory_stocks_path ,method: "get", class: "nav-link") %>
            </li>
          </ul>
        </li>
        <li>
        <%= link_to('Sales Orders', "customers_path", class: "nav-link") %>
          <ul class="nav-flyout">
            <li>
            <%= link_to('Orders', "customers_path", class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Invoice', "customers_path", class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Shipments', "customers_path", class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Returns', "customers_path", class: "nav-link") %>
            </li>
          </ul>
        </li>
        <li>
        <%= link_to('Stores', "#", class: "nav-link") %>
          <ul class="nav-flyout">
            <li>
            <%= link_to('Stores1', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores2', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores3', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores4', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores5', stores_path, class: "nav-link") %>
            </li>
          </ul>
        </li>
        <li>
        <%= link_to('Product', stores_path, class: "nav-link") %>
          <ul class="nav-flyout">
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
          </ul>
        </li>
        <li>
        <%= link_to('Stores', stores_path, class: "nav-link") %>
          <ul class="nav-flyout">
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
            <li>
            <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
             <li>
             <%= link_to('Stores', stores_path, class: "nav-link") %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to('Invoice', stores_path, class: "nav-link") %>
        </li>
      </ul>
    </nav>
  </aside>
</section>

<div class="container_product">
<div class="pro_sell">
<h1>Products</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sku</th>
      <th>Status</th>
      <th>Short desc</th>
      <th>Long desc</th>
      <th>Price</th>
      <th>Color</th>
      <th>Store</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% unless @products.blank?
    @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.sku %></td>
        <td><%= product.status %></td>
        <td><%= product.short_desc %></td>
        <td class="des"><%= product.long_desc %></td>
        <td><%= product.price %></td>
        <td><%= product.color %></td>
        <td><%= product.store.shop_name %></td>
        <td><%= image_tag url_for(product.images.first), size: "64" if product.images.attached? %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if @inventory_stock_count == 0 %>
          <td><%= link_to 'Add Inventory', new_inventory_stock_path(id: product.id,store_id: product.store_id), :method => :get %></td>
        <%else%>
          <td><%= link_to 'Update Inventory', edit_inventory_stock_path(@inventory_stock) %></td>
        <%end%> 
      </tr>
    <% end
    end %>

  </tbody>
</table>

<br>

<%= link_to '+', new_product_path %>
</div>
</div>
</div>