<%= stylesheet_link_tag 'products', media: 'print, screen' %>

<div class="pro-head">
  <%if @product.new_record? %>
    <h5>Create a new product</h5>
    <div class="import"><i class="material-icons">input</i></div>
  <%elsif @product.persisted? %>
    <h5>Edit your product</h5>
  <%end%>  
  <hr>  
</div>
<div class="pro_sell-2">
  <%= simple_form_for @product do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="pro-header-select">
      <div class="row">
        <div class="col-sm">
          
        </div>
      </div>
    </div>
    <div class="form-inputs">
      <div class="row">
        <div class="col-sm">
          <%= f.select :status, Product.statuses.keys.to_a, prompt: "Select status" %>
          <%= f.input :name %>
          <%= f.input :sku %>
          <%= f.input :short_desc %>
        </div>
        <div class="col-sm">
          <%= f.input :images, as: :file, label: false, input_html: {multiple: true}, class: "section1" %>
          <%= f.input :long_desc %>
          <%= f.input :price %>
          <%= f.association :store, label_method: :shop_name, value_method: :id, prompt: "Select your Shop" %>
        </div>
      </div>
      <div class="form-actions-2">
        <%= f.button :submit, class: "btn-success" %><%= link_to 'Back', products_path, class: "back1" %>
      </div>
    </div>
  <% end %>
</div>