<h1>Products</h1>


<div class="container">
  <div class="row">



  <%unless @products.blank?
  @products.each do |product| %>
    <div class="col-4">
       <%= link_to product do %>
          <%= image_tag url_for(product.images.first), size: "64" if product.images.attached? %>
          <%= product.name %>
      <% end %>
     
      <%= product.price %>
      <%= link_to 'send mail', send_email_product_path(product) %>
    </div>
   
  <% end 
   end %>

    

  </div>
</div>


<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
 