<%= stylesheet_link_tag 'products', media: 'print, screen' %>


<div class="row">
  <div class="col-sm-4">
    <p>
 
      <% if @product.images.attached? %>
        <% @product.images.each do |product_image| %>
          <div class="lazyload">
            <%= image_tag url_for(product_image.variant(resize:"100x460").processed) %>
          </div> 
        <% end %>
      <% end %>  
    </p>
    <%= button_to "Add To Cart", 
      new_quote_quotes_url, 
      :params =>{id:@product.id},
      :class => "add_to_cart",
      :onclick => "checkItem()",
      :method => :get 
    %>

    <%= button_to "Buy Now", 
      checkout_orders_path, 
      :params =>{id:@product.id},
      :class => "buy_now", 
      :method => :get 
    %> 

    <%= button_to "Go to cart",
      show_cart_quotes_path,
      :class => "go_to_cart",
      :onclick => "checkItem()",
      :method => :get 
    %>
  </div>
  
  <div class="col-sm-4">
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Sku:</strong>
      <%= @product.sku %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @product.status %>
    </p>

    <p>
      <strong>Short desc:</strong>
      <%= @product.short_desc %>
    </p>

    <p>
      <strong>Long desc:</strong>
      <%= @product.long_desc %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>

    <p>
      <strong>Store:</strong>
      <%= @product&.store&.shop_name if @product&.store&.shop_name&.present? %>
    </p>
  </div>
</div>
<%= render "company_content" %>

<script>
  $(document).ready(function(){
    $(".go_to_cart").hide();
  });
  function checkItem(){
    if($(".add_to_cart").clicked == true){
        $(".add_to_cart").hide();
        $(".go_to_cart").show();
    }else{
      $(".add_to_cart").show();
      $(".go_to_cart").hide();
    }
  }

</script>