<h1>Products</h1>




<%= stylesheet_link_tag 'frontend', media: 'print, screen' %>
<%= render "sponsores_ads" %>

<div class="product_grid_first">
  <h4 class="titel_trending">Trending Products</h4> 
  <div id="loadMore">
    <a href="#">Load More</a>
  </div>
  <hr>
  <section class="center slider">
    <% unless @products.blank?
      @products.each do |product| %>
        <%= link_to(product) do %>
        <div class="product_grid">
          <%= image_tag url_for(product.images.first),class: "img" if product.images.attached? %>
          <div class="product_details">
            <span class="product_name product_name_view"><%= product.name %></span><br />
            <span class="product_name">₹ <%= product.price %></span>  
          </div> 
        </div>
        <% end %>
      <% end
    end %>
  </section>
</div>

   
<h4>Popular Shops</h4> 
<div id="loadMore" style="">
  <a href="#">Load More</a>
</div>
<hr style="margin-top: 0em; color: #e4e4e4; background-color: #e4e4e4; height: 1px;">
<% unless  @shop_details.blank?
  @shop_details.each do |store| %>
  <%= link_to(store, class: "col product-grid__product") do %>
      
        <%= image_tag url_for(store.images.first),class: "img" if store.images.attached? %>
      </div>
      <span ><%= store.shop_name %></span><br /> 
    <% end %>
  <% end 
end %>

  </div>
</div>


<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
 
<%= render "sponsores_ads" %>
<%= render "company_content" %>

<script>
  $(".center").slick({
    dots: false,
    infinite: true,
    centerMode: true,
    slidesToShow: 6,
    slidesToScroll: 3
  });
</script>
