
<%= simple_form_for(@quote_shipping_rate) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :method_description %>
    <%= f.input :price %>
    <%= f.association :quote_payment %>
    <%= f.association :quote_address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
