<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <% if admin_signed_in? %>
      <%= render 'navbar/admin_navbar' %>
    <% elsif seller_signed_in? %>
      <%= render 'navbar/seller_navbar' %>
    <% else %>
      <!-- customer | not signed in -->
      <%= render 'navbar/customer_navbar' %>
    <% end %>

    <%= yield %>
  </body>
</html>
