<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> 
 
  <body>
   
   <% if current_admin %>
     <%= link_to "logout", destroy_admin_session_path, method: :delete %>
     <%= link_to "Edit", edit_admin_registration_path(@admin) %>
     <% else %>
          
      <%= link_to "Register",new_admin_registration_path %>
      
       <%= link_to "Login", new_admin_session_path %>

     <% end %>
 

    <%= yield %>
  </body>
</html>
